<div class="ntNavbar">
  <div class="ntLogo">NEWTAB</div>
  <div class="ntNavButtons" (mouseleave)="languageDropdown = false; twitchDropdown = false">
    <button class="ntTwitchLogin" (click)="authTwitch()" *ngIf="!twitchAccount">{{langua.g('connectTwitch')}}</button>
    <button class="ntTwitchAvatar" *ngIf="twitchAccount" [style.backgroundImage]="'url('+twitchAccount.logo+')'" (click)="twitchDropdown = !twitchDropdown">
      <div class="ntDropdown" [class.visible]="twitchDropdown">
        <button class="ntSelectableValue" (click)="twitchLogout()">{{langua.g('twitch_logout')}}</button>
      </div>
    </button>
    <!-- <button class="ntYouTubeLogin">{{langua.g('connectYouTube')}}</button> -->
    <button class="ntLanguageSelector" (click)="languageDropdown = !languageDropdown">
      <div class="ntSelectedLanguage">{{langua.availableDetail[langua.current].id | uppercase}}</div>
      <div class="ntDropdown" [class.visible]="languageDropdown">
        <button class="ntSelectableValue" [class.selected]="langua.current === lang.id" *ngFor="let lang of langua.available | orderBy:['display']" (click)="langua.setLang(lang.id); languageDropdown = false">{{lang.display}}</button>
      </div>
    </button>
    <button class="ntTheme" (click)="toggleTheme()"></button>
  </div>
</div>

<div class="ntBody">
  <div class="ntContainer">
    <div class="ntContainerTitle">{{langua.g('bookmarks')}}</div>
    <button class="ntOptionButton" (click)="bookmarkCreation = true">
      <i class="material-icons">add</i>
    </button>
    <div class="ntBlockList" *ngIf="bookmarks.length">
      <a class="ntBookmark" [href]="bookmark.link" *ngFor="let bookmark of bookmarks; let i = index">
        <div class="ntBookmarkInfo">
          <div class="ntBookmarkTitle">{{bookmark.title}}</div>
          <div class="ntBookmarkLink">{{bookmark.link | uppercase}}</div>
        </div>
        <div class="ntBookmarkOptions">
          <button (click)="bookmarkEdit($event, i)" class="ntBookmarkOptionButton">
            <i class="material-icons">settings</i>
          </button>
          <button (click)="bookmarkRemove($event, i)" class="ntBookmarkOptionButton">
            <i class="material-icons">remove</i>
          </button>
        </div>
      </a>
    </div>
    <div class="ntNote" *ngIf="!bookmarks.length">{{langua.g('no_bookmarks')}}</div>
  </div>

  <div class="ntContainer">
    <div class="ntContainerTitle">{{langua.g('streams')}}</div>
    <!-- sort by: [created_at|channel.display_name] -->
    <div class="ntBlockList" *ngIf="streams.length">
      <!-- <pre>
      {{streams|json}}
      </pre> -->
      <div class="ntStreamPreview" *ngFor="let streamer of streams">
        <a class="ntStreamPreviewImage" [style.backgroundImage]="'url('+streamer.stream.preview.large+')'" [href]="streamer.stream.channel.url"></a>
        <div class="ntstreamInfoOverlay">
          <div class="ntStreamerInfo">
            <div class="ntStreamerLogo" [style.backgroundImage]="'url('+streamer.stream.channel.logo+')'"></div>
            <div class="ntStreamerDisplayName">{{streamer.stream.channel.display_name}}</div>
          </div>
        </div>
        <div class="ntStreamInfo">
          <div class="ntStreamInfoActions">
            <button class="ntStreamPopup" (click)="popoutStream(streamer.stream.channel.name)">{{langua.g('stream_popup_stream')}}</button>
            <button class="ntChatPopup" (click)="popoutChat(streamer.stream.channel.name)">{{langua.g('stream_popup_chat')}}</button>
          </div>
          <div class="ntStreamStatus">
            <b>{{streamer.stream.channel.status}}</b>
          </div>
          <div class="ntStreamViewerCount">
            <i class="material-icons">people_outline</i>
            <b>{{streamer.stream.viewers}}</b>
          </div>
          <div class="ntStreamGameInfo">
            <i class="material-icons">videogame_asset</i>
            <b>{{streamer.stream.channel.game}}</b>
          </div>
        </div>
      </div>
    </div>
    <div class="ntNote" *ngIf="!twitchAccount">{{langua.g('no_twitch')}}</div>
    <div class="ntNote" *ngIf="twitchAccount && !streams.length">{{langua.g('no_streams')}}</div>
  </div>
</div>

<div class="ntPopup" [class.visible]="bookmarkCreation">
  <button class="ntPopupClose" (click)="bookmarkCreation = false">
    <i class="material-icons">close</i>
  </button>
  <div class="ntPopupBody">
    <div class="ntPopupTitle">{{langua.g('add_new_bookmark')}}</div>
    <div class="ntPopupForm">
      <div class="ntPopupFieldSet">
        <label for="bookmarkTitle" [class.ng-invalid]="bookmarkTitle.invalid" title="{{langua.g('required')}}" class="ntPopupLabel">{{langua.g('new_bookmark_title')}}</label>
        <input class="ntPopupInput" type="text" #bookmarkTitle="ngModel" id="bookmarkTitle" required maxlength="32" [(ngModel)]="bookmark.title">
      </div>
      <div class="ntPopupFieldSet">
        <label for="bookmarkLink" [class.ng-invalid]="bookmarkLink.invalid" title="{{langua.g('required')}}" class="ntPopupLabel">{{langua.g('new_bookmark_link')}}</label>
        <input class="ntPopupInput" type="text" #bookmarkLink="ngModel" id="bookmarkLink" required [(ngModel)]="bookmark.link">
      </div>
      <div class="ntPopupControls">
        <button class="ntPopupButton cancel" (click)="bookmarkCreation = false">{{langua.g('popup_cancel')}}</button>
        <button class="ntPopupButton" [disabled]="bookmarkTitle.invalid || bookmarkLink.invalid" (click)="createBookmark()">{{langua.g('popup_confirm')}}</button>
      </div>
    </div>
  </div>
</div>

<div class="ntPopup" [class.visible]="bookmarkEditing">
  <button class="ntPopupClose" (click)="bookmarkEditing = false">
    <i class="material-icons">close</i>
  </button>
  <div class="ntPopupBody">
    <div class="ntPopupTitle">{{langua.g('edit_bookmark')}}</div>
    <div class="ntPopupForm">
      <div class="ntPopupFieldSet">
        <label for="bookmarkTitle" [class.ng-invalid]="bookmarkTitle.invalid" title="{{langua.g('required')}}" class="ntPopupLabel">{{langua.g('new_bookmark_title')}}</label>
        <input class="ntPopupInput" type="text" #bookmarkTitle="ngModel" id="bookmarkTitle" required maxlength="32" [(ngModel)]="bookmark.title">
      </div>
      <div class="ntPopupFieldSet">
        <label for="bookmarkLink" [class.ng-invalid]="bookmarkLink.invalid" title="{{langua.g('required')}}" class="ntPopupLabel">{{langua.g('new_bookmark_link')}}</label>
        <input class="ntPopupInput" type="text" #bookmarkLink="ngModel" id="bookmarkLink" required [(ngModel)]="bookmark.link">
      </div>
      <div class="ntPopupControls">
        <button class="ntPopupButton cancel" (click)="bookmarkEditing = false">{{langua.g('popup_cancel')}}</button>
        <button class="ntPopupButton" [disabled]="bookmarkTitle.invalid || bookmarkLink.invalid" (click)="saveEditBookmark()">{{langua.g('popup_confirm')}}</button>
      </div>
    </div>
  </div>
</div>